h1{color: rgb(240, 245, 172); font-family:cursive;font-size: xx-large;text-align: center;}
body{background-color: rgb(161, 159, 211);font-size: larger;}
h2{font-family: 'Courier New', Courier, monospace;color: rgb(50, 87, 74);}
p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: medium;text-align: left;}
li{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;}
h3{text-align: center;}